DATABASE_URL="file:./data/app.db"
DINGMAP_URL="https://dm.dingmap.com/home/map?id=c7b3a5c524864c698416c093843c34c6"
QINGZ_URL="https://hr.qingz.xyz/positions/list"
CONOBUG_URL="https://map.conobug.com"
PLAYWRIGHT_HEADLESS=false
